.ug.hero.slider-hero{
  .slide-item{
    min-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .content{
      padding: 0 8rem;
      @include breakpoint(800px) {
        padding: 0 2rem;
      }
    }
  }
}
