.bio-content{
  background-color: $offwhite;
  padding: 6rem 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    .general-content{
      max-width: calc(60% - 2rem);
      .alignleft, .alignright{
        max-width: 50%;
      }
    }
    .twitter-timeline{
      max-width: calc(40% - 2rem);
    }
  }
}
