.call-to-action{
  padding: 6rem 0;
  position: relative;
  background-color: $grey-d;
  overflow: hidden;
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    > header{
      width: 100%;
      text-align: center;
      margin-bottom: 4rem;
      .heading{
        max-width: 60rem;
        margin: 0 auto;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-family: $serif;
        color: $white;
      }
    }
  }
  &_content{
    width: calc(50% - 2rem);
    color: $white;
  }
  &_form{
    margin:0;
    width: calc(50% - 2rem);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input, textarea{
      color: $white;
    }
  }
  &_image{
    width: calc(50% - 2rem);
    position: relative;
    img{
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  &_support{
    .container{
      justify-content: center;
      align-items: center;
    }
    .call-to-action_content{
      text-align: center;
    }
  }
  &_background{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    opacity: .5;
    // &-overlay{
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   top: 0;
    //   left: 0;
    //   z-index: 2;
    //   background-image: linear-gradient( 45deg, blue, red );
    //   background-size: 300% 100%;
    //   opacity: .25;
    //   animation: radiant 15s ease infinite;
    // }
  }
}
