.header-global{
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: .25s all ease;
  .container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $white;
    padding-bottom: 2rem;
    margin-bottom: -1px;
  }
  &_logo{
    svg{
      g, path{
        fill: $white;
      }
    }
  }
  &_nav{
    a{
      font-family: $sans;
      text-decoration: none;
      color: $white;
      margin-left: 2rem;
      cursor: pointer;
      &:hover{
        color: $main;
      }
      &.active{
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
  &.scrolled{
    border-bottom: 1px solid $white;
    background-color: transparentize($white, .05);
    .container{
      border-bottom: 1px solid $white;
    }
    .header-global_logo{
      svg{
        g, path{
          fill: $main;
        }
      }
    }
    a{
      color: $secondary;
    }
  }
}
