.hero{
  padding: 6rem 0;
  height: auto;
  position: relative;
  overflow: hidden;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 3;
    text-align: left;
  }
  p{
    font-size: 2rem;
    color: $white;
    max-width: 70rem;
    margin-bottom: 1rem;
  }
  &-controls{
    .button{
      margin: 1rem 1rem 1rem 0;
    }
  }
  &-heading{
    font-family: $serif;
    font-size: 6.25rem;
    font-weight: 100;
    text-transform: uppercase;
    color: $black;
    max-width: 70rem;
    margin-bottom: 1rem;
    &:after {
      content: attr(data-shadow);
      position: absolute;
      max-width: 70rem;
      top: 3px; left: -3px;
      z-index: -1;
      text-shadow: none;
      background-image: linear-gradient( 45deg, transparent 45%, $white 45%, $white 55%, transparent 0 );
      background-size: .05em .05em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &-full{
    min-height: 70vh;
    padding-bottom: 5rem;
    .hero{
      &-background_overlay{
        background-image: none;
        background-color: $grey-d;
      }
    }
  }
  &-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    background-position: center 25%;
    background-size: cover;
    &_overlay{
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-image: linear-gradient( 45deg, red, orange, $tertiary );
      background-size: 300% 100%;
      opacity: .25;
      animation: radiant 15s ease infinite;
      &.gradient-dark{
        opacity: .5;
        background-image: linear-gradient( 45deg, $secondary, $tertiary );
      }
      &.gradient-bright{
        opacity: .75;
        background-image: linear-gradient( 45deg, $secondary, $tertiary );
      }
    }
    &_video{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      video{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}

.header-global + main > .hero{
  padding-top: 14.5rem;
}
