.previous-clients{
  background-color: transparentize($white, .25);
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .heading{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .05rem;
    color: $black;
    margin: 0;
  }
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex-wrap: wrap;
    a{
      width: calc(16.66666667% - 3rem);
      margin: 0 1.5rem;
      position: relative;
      img{
        display: block;
        max-width: 100%;
        filter: grayscale(100%);
      }
    }
  }
}
