$black: #22181C;
$white: #fff;
$offwhite: #F6E8EA;

$grey-d: #312F2F;
$grey: #888;
$grey-l: #ddd;

$main:#FC7064;
$secondary:#78D5D7;

$highlight: $secondary;
$highlight-l: lighten($highlight, 15%);
$highlight-d: darken($highlight, 15%);
