$black: #000;
$white: #fff;
$offwhite: #efefef;

$grey-d: #333;
$grey: #888;
$grey-l: #ddd;

$main:;
$secondary:;

$highlight: #0000ff;
$highlight-l: lighten($highlight, 15%);
$highlight-d: darken($highlight, 15%);
