$black: #22181C;
$white: #fff;
$offwhite: #F6E8EA;

$grey-d: #312F2F;
$grey: #888;
$grey-l: #ddd;

$main:#FD3254;
$secondary:#3891A6;
$tertiary: #7873A9;

$blue: $main;

$highlight: $main;
$highlight-l: lighten($highlight, 15%);
$highlight-d: darken($highlight, 15%);
