.ug.accordion{
  margin: 2rem auto;
  max-width: 85rem;

  article{
    margin-bottom: 1.5rem;

    &.open{
      header{
        background-color: $highlight;
        color: $white;
        border-color: $highlight;
      }
      .content{
        border-color: $highlight;
      }
    }

  }

  header{
    padding: 1rem 2rem;
    border: 1px solid $grey-d;
    color: $grey-d;
    transition: $transition;

    *{
      margin: 0 auto;
      max-width: 85rem;
    }

    &:hover{
      color: $white;
      background-color: $highlight-l;
      border-color: $highlight-l;
      cursor: pointer;
    }

  }

  .content-wrapper{
    max-height: 0px;
    overflow: hidden;
  }

  .content{
    padding: 2rem;
    max-width: 85rem;
    margin: 0 auto;
    border: 1px solid $grey-d;
  }

}
