.ug.grid-slider{
  background-color: $white;
  padding: 5rem;
  border: 10px solid $highlight;
  border-top: 12px solid $highlight;
  border-bottom: 1px solid $highlight;
  overflow: hidden;
  @include breakpoint(1015px) {
    padding: 2rem 3rem;
  }

  @include breakpoint(815px) {
    border-width: 5px 5px 1px 5px;
    padding: 3rem 0rem;
  }

  @include breakpoint(650px) {
    border-width: 1px;
  }

  & + .slider{
    border-top: none;
  }

  .slide{
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    opacity: .5;
    transition: .5s opacity ease;
    @include breakpoint(815px) {
      flex-direction: column;
      width: calc(100% - 1.5rem);
      padding: 0 1.5rem 0 0;
    }
    &.active{
      opacity: 1;
    }
    .product{
      opacity: 1;
    }
  }

  .slide-wrapper{
    margin: 0 -1rem;
    width: auto;
    transition: .5s all ease;
    @include breakpoint(1215px) {
      padding: 0 .5rem;
    }
    @include breakpoint(815px) {
      padding: 0;
      width: calc(100% + 1.5rem);
      margin: 0;
    }
    &.line{
      transition: .5s all ease;
    }
  }

  .container{
      @extend .container;
      overflow:visible;
      position: relative;
      @include breakpoint(815px) {
        padding: 0 2rem;
      }
      @include breakpoint(650px) {
        padding: 0 1.25rem;
      }
  }

  .wrapper{
    width: auto;
    display: flex;
    justify-content: space-between;
    &.view-all{
      flex-direction: column;
    }
  }

  .grid{
    .slide{
      width: 100%;
      opacity: 1;
      margin-bottom: 2rem;
      @include breakpoint(1215px) {
        margin-bottom: 1rem;
      }
      @include breakpoint(815px) {
        margin-bottom: 0;
      }
    }
  }

}
