header.global{
  display: flex;
  justify-content: space-between;
  .logo{
    margin: 1rem;
    display: inline-block;
    height: 60px;
    width: 60px;
    svg{
      max-width: 100%;
      max-height: 100%;
    }
  }
  nav.global{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    @include breakpoint(1024px) {
      display: none;
    }
    > *{
      margin: 0 1rem;
      height: 80px;
      display: inline-flex;
      align-items: center;
      padding: 0 1rem;
      transition: .25s all ease;
      &:hover{
        background-color: $highlight;
        color: $white;
        a{
          color: $white;
        }
      }
      &.dropdown{
        padding: 0;
        a{
          padding: 1rem;
        }
      }
    }
    > a{
      padding: 1rem;
    }
    a{
      text-decoration: none;
    }
  }
  .dropdown{
    &:hover{
      .dropdown-content{
        max-height: 100vh;
        padding: 2rem;
      }
    }
    &.mini{
      position: relative;
      .dropdown-content{
        margin: 0 -2rem;
        width: calc(100% + 4rem);
      }
    }
    .dropdown-content{
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 80px;
      left: 0;
      width: 100%;
      z-index: 2;
      padding: 0 2rem;
      background-color: $highlight;
      max-height: 0px;
      overflow: hidden;
      transition: .25s all ease;
      nav{
        display: flex;
        flex-direction: column;
        a{
          color: $white;
        }
      }
    }
  }
  .menu{
    height: 80px;
    width: 80px;
    border-right: 1px solid $offwhite;
    padding: 2rem;
    svg{
      fill:$highlight;
    }
    &.open{
      .menu-icon{
        fill: $highlight-l;
        #btop{
          transform: rotate(45deg);
        }
      }
    }
    @include breakpoint(1024px, min-width) {
      display: none;
    }
  }
}
