.ug.hero{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 5rem;
  .content{
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 75rem;
    margin: 8rem 0;
    @include breakpoint( 900px ) {
      padding: 0 2rem;
    }
  }
  .tint{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .content.dark{
    color: $black;
  }
  .content.light{
    color: $white;
  }
}
