.ug.slider{
  position: relative;
  opacity: 0;
  transition: $transition;
  .slide-container{
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 5rem 5rem 0;
    @include breakpoint(1015px) {
      padding: 2rem 3rem;
    }

    @include breakpoint(815px) {
      padding: 1rem 2rem;
    }
  }
  .slide-wrapper {
    overflow: hidden;
    margin: 0 -1rem;
    padding: 1rem 0;
    .wrapper{
      display: flex;
      width: auto;
    }
  }
  .slide{
    display: flex;
    min-width: 100%;
    @include breakpoint(800px) {
      flex-wrap: wrap;
    }
  }
  .slide-item{
    text-decoration: none;
    color: $grey-d;
    transition: $transition;
    margin: 0 1rem;
    width: calc(20% - 2rem);
    @include breakpoint(1450px) {
      width: calc(25% - 2rem);
    }
    @include breakpoint(1200px) {
      width: 33.33333%;
    }
    @include breakpoint(800px) {
      width: 100%;
      margin-bottom: 2rem;
    }
    h5{
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
    }
    img{
      max-width: 100%;
    }
    &:hover{
      transform: scale(1.05);
      color: $highlight;
      @include breakpoint(800px) {
        transform: scale(1);
      }
    }
  }
  .arrows{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    margin-top: -2.5rem;
    z-index: 2;
    pointer-events: none;
    @include breakpoint(1015px) {
      position: static;
      padding: 2rem 3rem;
      margin: 0;
    }

    @include breakpoint(800px) {
      padding: 0 2rem;
    }

    .arrow{
      height: 5rem;
      width: 5rem;
      display: block;
      padding: 0;
      border-radius: 0px;
      pointer-events: all;
      @include breakpoint(1015px) {
        text-indent: 0px;
        width: 9rem;
        height: auto;
        border-radius: 3px;
        padding: 1rem 2rem;
        line-height: 2rem;
        &.prev{
          text-align: right;
          &:after{
            width: 3rem;
          }
        }
        &.next{
          text-align: left;
          &:after{
            width: 3rem;
            right: 0;
            left: auto;
          }
        }
      }
    }
    .disabled{
      pointer-events: none;
    }
  }
  .progress{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    @include breakpoint(800px) {
      margin-bottom: -3.5rem;
    }
    span{
      width: 1rem;
      height: 1rem;
      background-color: transparent;
      border: 1px solid $highlight;
      border-radius: 100%;
      margin: 1rem;
      cursor: pointer;
      &.active{
        background-color: $highlight;
        pointer-events: none;
      }
    }
  }
}
