<section class="call-to-action call-to-action_book">
  <div class="container">
    <header>
      <h1 class="heading" data-cta-shadow-book="Get the Book!">Get the Book!</h1>
    </header>
    <div class="call-to-action_image">
      <img src="media/book.jpg">
    </div>
    <div class="call-to-action_content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="button white hollow">Buy the book</a>
    </div>
  </div>
  <div class="call-to-action_background" style="background-image:url(media/hero_about.jpg)"></div>
  <div class="call-to-action_background-overlay"></div>
</section>
